<div *ngIf="userId">
    <div class="header-container">
        <h2>Modifica password ( {{selectedUser["Nome Utente"]}} )</h2>
        <button class="back-button" routerLink="/gestione-utenti">Indietro</button>
    </div>
    <label for="newPassword">Nuova Password:</label>
    <br><br>
    <input type="password" id="newPassword" [(ngModel)]="nuovaPassword" />
    
    <br>
    <button (click)="modificaPassword()">Modifica Password</button>
    <div *ngIf="modificaRiuscita==true" class="messaggio-conferma">
        {{ confermaMessage }}
    </div>
    <div *ngIf="modificaRiuscita==false" class="messaggio-fallito">
        {{ confermaMessage }}
    </div>
</div>

  